body {
  background-image: url(../images/bb.jpeg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px, 40px, 20px, 40px;
  font-size: 18px;
  font-family: helvetica, sans-serif;
  font-weight: 100;
  color: #0000000;
  background-color: #ccffff
}
.container {
  color: black;
  background-position: center;;
}
.column {
    float: left;
    width: 50%;
    background-color: #ffcc99;
}
.box {
  background-color: white;
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  color: #000000;
  line-height: 1.6;
}
# row{
  display: flex;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
h2 {
  font-size: 18px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
img {
  width: 75%;
  float: none;
}
